
/* site wide */
body {
  color: #FFF;
}
p {
  font-size: 1.5rem;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}
.image-col {
  padding: 0;
  margin: 0;
}

.left-text {
  padding-left: 7.5%;
}

.left-image {
  width: 100%;
  height: auto;
}

.right-image {
  width: 100%;
  height: auto;
}

.right-text {
  padding-left: 15%;
}

.row {
  width: 100%;
}
/* navbar */
.main-menu {
  background-color: #889EAF;
}

/* header */
.first-row {
  margin:55px 0 0;
  padding: 0;
  background-color: #506D84;
}

/* icons */

.icon-row {
  padding: 3% 0;
  margin: 0;
  text-align: center;
  color: black;
}

.reason-icon {
  font-size: 4rem;
}

.reason-icon:hover {
  color: #D4B499;
}

.reason-text {
  padding: 1% 15%;
}


/* services */
.service-row {
  margin: 0;
  padding: 0;
  background-color: #506D84;
}

/* customers */
.customer-row {
  margin: 0;
  background-color: #506D84;
}

.customer-image {
  max-width: 100%;
  height: auto;
}

/* gallery */

.gallery {
  padding: 3% 5% 0;
  margin: 0;
}

.thumbnail {
  padding: 0 2%;
}


/* footer */

.footer {
  margin-top: 2%;
  margin-right: 0;
  margin-left:0;
  height: 200px;
  background-color: #889EAF;
}
